<div class="all-people">
<h2>All the People</h2>

<!-- <div *ngFor="let person of people">
    <app-person-detail [fullName]="person"></app-person-detail>
</div> -->

<app-person-detail *ngFor="let person of people; index as i" [fullName]="person" (personDelete)="deletePerson(i)"></app-person-detail>

<h3>Add New Person</h3>
First Name: <input type="text" [(ngModel)]="newPerson.firstName"/><br/>
Last Name: <input type="text" [(ngModel)]="newPerson.lastName" /><br/>
<button (click)="addPerson()">Add</button>

</div>